/*
Name: Danny McAlea
Date: 9/12/2016
Desc: CSS for website
*/

.imageResize
{
    width: 35%;
    height: 35%;
    margin-bottom: 25px;
}

.albumResize
{
  width: 25%;
  height: 25%;
}

.btnFontProperties
{
  font-family: monospace;
  font-size: 14pt;
}

/*using Bootstrap changes the hr so this is a fix: https://forums.adobe.com/thread/1835326*/

hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.dateModifiedFormat
{
  float: right;
}
